<h1 class="hero__title">
    {{ site.author }}
    {% if site.subtitle %}
        <small class="hero__subtitle">{{ site.subtitle }}</small>
    {% endif %}
</h1>
<hr class="hero__divider">
<p class="hero__text lead">
    Hoşgeldiniz! Ben yukarda da yazdığı gibi Murat Rahmi KURTUL. Bilgisayar mühendisi adayı , Pamukkale Üniversitesi öğrencisiyim. Umarım bloğumda iyi vakit geçirir , size yarar sağlayacak bilgilere erişebilirsiniz. Sağ üstteki ''Blog'' sekmesinden yazılarıma ulaşabilirsiniz. Teşekkürler.
</p>
